<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= titulo %>
  </title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #1e293b inset;
      /* mismo color que bg-slate-800 */
      -webkit-text-fill-color: rgba(255, 255, 255, 0.7);
      /* igual que text-white/70 */
      transition: background-color 5000s ease-in-out 0s;
    }
  </style>
</head>

<body class="bg-gradient-to-br from-slate-800 via-slate-700 to-slate-900 text-white min-h-screen flex flex-col">

  <!-- Navbar -->
  <%- include('partials/navbar') %>

    <!-- Contenido principal -->
    <!-- <main class="flex-1 flex items-start justify-center px-4 py-2 border-green-500 border-2"> -->
    <main class="flex-1 px-4 py-8 border-green-500 border-2">
      <%- body %>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>

</html>